header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

subheader{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

navigatie {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  position:fixed;
  bottom:0px;
}

logo {
  display: flex;
  max-width:100%;
  max-height:100%;
  width: 75px;
  height: 75px;
  float: right;
}

aside {
  display: grid;
  float: right;
  padding-top: 80px;
  margin-right: -75px;
  max-width: 75px;
}