header {
  font-family: Cooper Black;
  text-align: center;
  font-size: 50px;
  color: #3b574a;
  border-radius: 15px;
  padding-top: 1vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 1vw;
  margin: 4vw;
  background-color:#50866e;
}

body,header,subheader,navigatie {
  
}

logo{
  padding-top: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
}

nav{
  text-align: center;
}

subheader{
  text-align: center;
  display: flex;
  padding: 0vw;
  padding-left: 30vw;
  padding-right: 30vw; 
  font-family: Cooper Black;
  font-size: 15px;
  
}

content {
  display: flex;
  overflow: scroll;
  background-color:#50866e;
  font-family: Cooper Black;
  position: fixed;
  font-size: 15px;
  border-radius: 15px;
  padding-top: 3vw;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-bottom: 3vw;
  margin: 4vw;
  width: 75vw;
  height: 45%;
}

iframe {
  width: 384px;
  height: 288px;
}

form input, textarea{
  background-color:#4b866b;
  font-family: Cooper Black;
}

::placeholder {
  color: black;
}

p2 {
  color: #222f29;
  display: flex;
  margin: 2vw;

}

table, th, td {
  border: 1px solid;
  margin-top: 3vw;
  position: relative;
}

p3 {
  display: flex;
  border-top: solid;
  width: 100%;
  padding-left: 35vw;
  padding-right: 35vw;
}

footer {
  display: flex;
  font-family: Cooper Black;
  font-size: 15px;
  width: 100%;
  position:fixed;
  bottom:0vw;
  position: center; 
  background-color:#50866e
 
}

img {
  display: flex;
  position: fixed;
  width: 70px;
  height: 70px;
  margin-left: 90vw;
}

}
nav div{
  font-family: Cooper Black;
  font-size: 15px;
  border-width: 0.25vw;
  border-style: solid;
  border-color: black;
}
nav div a {
  font-family: Cooper Black;
  font-size:  13px;
  width: 95px;
  text-decoration: none;
  color: black;
}

head2{
  text-align: center;
  position: center;
}

body:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -10;
  background-image: url(/Images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav a:hover {
  color: grey;
}

.aboutlist {
  font-family: Cooper Black;
  font-size: 15px;
}